{% extends "layout.html" %}

{% block content %}


{% if session.userid is defined %}

<div>
<!--{{user.email}}-->

    <h1><a href="/articles">ARTICLES</a></h1>
    <h1><a href="/users">FRIENDS AND OTHER USERS</a></h1>
</div>

{% else %}
zzzzzzzzzzzzzz


<div>
    <div>
        <a href="/users">All Users</a>
        <p><a href="/users/login">Log in</a> |
            <a href="/users/create">Register</a></p>
    </div>

    <div>
     <a href="/articles">ARTICLES</a>
    </div>
</div>

{% endif %}

{% endblock %}