{%extends "layout.html"%}
{%block content%}



<a href="/articles">Back</a>
<!--<ul>-->

<!--{% for error in errors %}-->
<!--    <li>{{error[0]}}</li>-->
<!--{% endfor %}-->
<!--</ul>-->


<form method="post" action="/articles">
    <div>

    <label for="title">Title:</label>
    <input type="text" id="title" name ="title" value="{{inputs.title}}">
        {% if errors.title %}
        <p style="color:red">
            <small>{{errors.title[0]}}

            </small>
        </p>
        {% endif %}
    </div>
<div>

    <label for="description">Description</label>
    <textarea id="description" name="description">{{inputs.description}}</textarea>
    {% if errors.description %}
    <p style="color:red">
        <small>{{errors.description[0]}}

        </small>
    </p>
    {% endif %}
</div>
<div>

<button type="submit">Create</button>
</div>
</form>
{%endblock%}